
.content-1 {
  width: 230px;
  height: 550px;
  margin: auto;
  .content-area {
    width: 95%;
    height: 350px;
    text-align: center;
    margin: 10px auto auto auto;
    color: _palette(fg);
  }
}
