.Features img {
    width: 130px;
    margin: auto;
    height: 120px;
    margin-top: 20px;
}

.Button {
  color: white;
}

.Copyright {
  color: white;
}

.ImageList div {
  margin: auto;
}

.widthMax{
  width: 100%;
}

.company-table {
  width: 100%
}
  .company-table tr th {
    font-weight: bold;
  }
  .company-table tr td {
    text-align: left;
  }

.container {
  margin-top: 30px;
}